@import './variables.scss';

body {
    font-family: $font-family-base;
}

// Titres
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: $dark-blue
}

// Boutons
.btn-submit, .btn-back {
    background-color: $dark-blue;
    color: white;
}

.btn-submit:hover, .btn-back:hover {
    background-color: $middle-blue;
    color: white;
}