// Couleurs de la charte graphique
$light-blue: #f1f8fc;
$middle-blue: #0074c7;
$dark-blue: #00497c;
$dark-grey: #384050;
$red: #cd2c2e;
$green: #82b864;

// Typographie
$font-family-base: 'Graphik', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;

