* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .App {
    min-height: 100vh;
    background-color: #f5f5f5;
}

.App-header {
    background-color: #0072ce;
    color: white;
    padding: 2rem;
    text-align: center;
}

.App-header h1 {
    font-size: 2.5 rem;
    margin-bottom: 1rem;
} */