/* Import des styles globaux */
@import './styles/global.scss';

/* Import des styles des composants */
/* Header */
@import './styles/components/header.scss';

/* Footer */
@import './styles/components/footer.scss';