footer {
    background-color: $light-blue;
    color: $middle-blue
}

/* Logo */
.footer-logo {
    width: 30vh;
    height: auto; 
}

/* Bordure */
.footer-border {
    border-bottom-color: $middle-blue !important;
}